numpy~=1.23.5
scipy~=1.10.0
casadi~=3.5.6.pre2
pandas~=1.5.2
matplotlib~=3.6.2
seaborn~=0.12.2
tqdm~=4.64.1
sortedcontainers~=2.4.0
pytest~=7.1.2
plotly~=5.11.0
pyvista~=0.37.0
ipyvtklink~=0.2.2
trimesh~=3.18.3
sympy~=1.11.1
cadquery~=2.2.0