numpy~=1.21.2
scipy~=1.8.0
casadi~=3.5.6.pre2
pandas~=1.4.1
matplotlib~=3.5.1
seaborn~=0.11.2
tqdm~=4.63.0
sortedcontainers~=2.4.0
pytest~=6.2.5
plotly~=5.6.0
pyvista~=0.33.3
ipyvtklink~=0.2.2
trimesh~=3.10.3
sympy~=1.9
