numpy~=1.24.4
scipy~=1.11.4
casadi~=3.6.4
pandas~=2.0.3
matplotlib~=3.8.2
seaborn~=0.13.0
tqdm~=4.65.0
sortedcontainers~=2.4.0
dill~=0.3.7
neuralfoil~=0.1.10
plotly~=5.17.0
pyvista~=0.42.2
ipyvtklink~=0.2.2
trimesh~=3.18.3
sympy~=1.11.1
cadquery~=2.3.1
shapely~=2.0.1
pytest~=7.1.2
