# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.astral.sh/uv/guides/integration/github/

name: Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10' , '3.12' ]

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Test with pytest (without extras; only package)
        run: |
          uv run --python ${{ matrix.python-version }} --extra test pytest aerosandbox
      - name: Test with pytest (with extras; only tutorials)
        run: |
          uv run --python ${{ matrix.python-version }} --extra test --extra full pytest tutorial --nbval-lax --nbval-cell-timeout 120